aldjemy==0.8.0
appdirs==1.4.3
asn1crypto==0.24.0
attrs==18.2.0
Automat==0.7.0
beautifulsoup4==4.6.3
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
constantly==15.1.0
cryptography==2.3.1
cssselect==1.0.3
defusedxml==0.5.0
dj-database-url==0.5.0
Django==2.1.1
django-heroku==0.3.1
future==0.17.0
goose3==3.1.4
gunicorn==19.9.0
h2==3.0.1
hpack==3.0.0
hyperframe==5.1.0
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
jieba==0.39
lxml==4.2.4
nltk==3.3
numpy==1.14.5
oauthlib==2.1.0
parsel==1.5.0
pbr==4.2.0
Pillow==5.2.0
priority==1.3.0
psycopg2==2.7.5
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycparser==2.18
PyDispatcher==2.0.5
PyHamcrest==1.9.0
pyOpenSSL==18.0.0
pyserial==3.4
PySocks==1.6.8
python-scrapyd-api==2.1.2
pytz==2018.5
queuelib==1.5.0
requests==2.19.1
requests-oauthlib==1.0.0
scikit-learn==0.20.0
scipy==1.1.0
service-identity==17.0.0
six==1.11.0
sklearn==0.0
SOAPpy==0.12.22
SQLAlchemy==1.2.12
text-cleaner==0.2.6
tweepy==3.6.0
urllib3==1.23
w3lib==1.19.0
whitenoise==3.2
wstools==0.4.8
zope.interface==4.5.0
